<div class="container lesson">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2>
                    {{$ctrl.lesson.lessonName}}
                </h2>
            </div>
            <div class="row">
                <div ng-if="$ctrl.selectedPart.type === 'theory'" ng-bind-html="$ctrl.selectedPart.value" class="theory-block"></div>
                <control-questions ng-if="$ctrl.selectedPart.type === 'controlQuestions'" questions="$ctrl.selectedPart.value"></control-questions>
                <test ng-if="$ctrl.selectedPart.type === 'test'" questions="$ctrl.selectedPart.value"></test>
            </div>
            <div class="row" ng-hide="$ctrl.hideNavButtons">
                <button class="btn btn-default" ng-click="$ctrl.nextPart()">
                    Дальше
                </button>
                <button class="btn btn-default" ui-sref="index()">
                    Завершить урок
                </button>
            </div>
        </div>
    </div>
</div>