<div ng-if="$ctrl.questionPart" class="test">
    <div class="navigation">
        <button
            class="btn btn-default"
            ng-repeat="question in $ctrl.questions"
            ng-class="{
                'btn-primary': question === $ctrl.activeQuestion,
                'btn-success': $ctrl.userAnsweredSmth(question) && question !== $ctrl.activeQuestion
            }"
            ng-click="$ctrl.selectQuestion(question)">
            {{$index + 1}}
        </button>
    </div>
    <div class="navigation">
        <button class="btn btn-default" ng-disabled="$ctrl.isLastQuestionSelected()" ng-click="$ctrl.selectNextQuestion()">Следуюший вопрос</button>
        <button class="btn btn-default" ng-click="$ctrl.endTest()">Закончить тест</button>
    </div>
    <div>
        <h3 class="question">{{$ctrl.activeQuestion.question}}</h3>
        <ol class="answer-block">
            <li ng-repeat="answer in $ctrl.activeQuestion.answers">
                <input id="{{$index}}" type="checkbox" ng-model="answer.userSelect">
                <label for="{{$index}}">{{answer.value}}</label>
            </li>
        </ol>
    </div>
</div>

<div ng-if="!$ctrl.questionPart">
    <h4>
        Вы прошли тест на {{$ctrl.percent}}%
    </h4>
    <div ng-repeat="question in $ctrl.questions">
        <h3 class="question">{{$ctrl.activeQuestion.question}}</h3>
        <ol>
            <li ng-repeat="answer in question.answers">
                <input id="{{$index}}" type="checkbox" ng-model="answer.userSelect" disabled>
                <label ng-class="{
                    'bg-danger': answer.isCorrect && answer.userSelect !== answer.isCorrect,
                    'bg-success': answer.userSelect === answer.isCorrect && answer.isCorrect === true
                }" for="{{$index}}">{{answer.value}}</label>
            </li>
        </ol>
    </div>
</div>