<div class="container index-page">
    <div class="row" ng-repeat="section in $ctrl.config">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2>{{section.sectionName}}</h2>
            <ul class="list-unstyled">
                <li ng-repeat="lesson in section.lessons">
                    <button class="btn btn-default" ui-sref="lesson({sectionId: section.id, lessonId: lesson.id})">
                        {{lesson.lessonName}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>