<h3>Контрольные вопросы</h3>
<ol ng-if-start="$ctrl.questionPart">
    <li ng-repeat="question in $ctrl.questions" ng-init="questionIndex = $index">
        <span ng-repeat-start="part in $ctrl.splitQuestion(question.question) track by $index">
            {{part}}
        </span>
        <input ng-repeat-end ng-model="$ctrl.answers[questionIndex][$index]" ng-if="!$last" type="text">
    </li>
</ol>

<div class="row" ng-if-end>
    <button class="btn btn-default" ng-click="$ctrl.endTest()">
        Готово
    </button>
</div>

<ol ng-if="!$ctrl.questionPart">
    <li ng-repeat="question in $ctrl.questions" ng-init="questionIndex = $index">
        <span ng-repeat-start="part in $ctrl.splitQuestion(question.question) track by $index">
            {{part}}
        </span>
        <s ng-if="$ctrl.incorrectAnswer($ctrl.answers[questionIndex][$index], $ctrl.questions[questionIndex].answers[$index])" class="bg-danger">
            {{$ctrl.answers[questionIndex][$index]}}
        </s>
        <span ng-repeat-end class="bg-success">{{$ctrl.questions[questionIndex].answers[$index]}}</span>
    </li>
</ol>
